* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ul ul, ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
ol ol, ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

body, html {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

ol{padding-left: 20px;}